[submodule "static-hosting/nuv"]
	path = static-hosting/nuv
	url = https://github.com/dharminnagar/nuv
[submodule "static-hosting/weather"]
	path = static-hosting/weather
	url = https://github.com/dharminnagar/weather
[submodule "static-hosting/Rock-Paper-Scissor"]
	path = static-hosting/Rock-Paper-Scissor
	url = https://github.com/dharminnagar/Rock-Paper-Scissor
[submodule "static-hosting/Cancer-Detection-"]
	path = static-hosting/Cancer-Detection-
	url = https://github.com/vanshcodeshaerd/Cancer-Detection-
[submodule "managed-hosting/geo-globe-three"]
	path = managed-hosting/geo-globe-three
	url = https://github.com/Code-Parth/geo-globe-three
